@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
    color: inherit;
}

body {
    max-width: 2600px;
    font-family: "Bebas Neue", sans-serif;
    font-weight: 400;
    height: 150vh;
    background-color: #252525;
}

header {
    width: 100%;
    height: 65px;
    background-color: #1C1C1C;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-bottom: 1px #00C896 solid;
    position: fixed;
    z-index: 1;
}

.logo-container {
    margin-left: 20px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    column-gap: 10px;
    cursor: pointer;
    transition: ease-in-out all 0.5s;
}

.logo-container:hover {
    transform: scale(1.02);
}

.logo-text {
    color: #00C896;
    font-size: 35px;
    padding-top: 5px;
}

.logo-img {
    width: 50px;
    height: auto;
    border-radius: 50%;
}

.items {
    margin-right: 50px;
    justify-content: space-between;
    display: flex;
    column-gap: 35px;
    text-align: center;
    color: #00C896;
    font-size: 24px;
}

.text-1 {
    cursor: pointer;
    transition: ease-in-out 0.2s;
}

.text-1:hover {
    color: white;
}

.text-2 {
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.text-2:hover {
    color: white;
}

.text-3 {
    cursor: pointer;
    transition: ease-in-out 0.2s;
}
.text-3:hover {
    color: white;
}

.home-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 90%;
    background-color: #252525;
}

.home-title {
    margin-top: 105px;
    font-size: 50px;
    color:#00C896;
    text-shadow: 3px 3px 15px #000;
}

.panel-container {
    width: 70%;
    height: 35em;
    display: flex;
    background-color: #474747;
    border-radius: 20px;
}

.content-1 {
    width: 40%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.background {
    background-image: url("../../assets/background-info-3.png");
    width: 100%;
    height: 100%;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    opacity: 70%;
    border: none;
    border-radius: 20px 0px 0px 20px;
}

.content-2 {
    width: 60%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.top-content {
    width: 90%;
    height: 90px;
    display: flex;
    align-items: center;
}


.skin-input {
    width: 7em;
    height: 0.5em;
    border: 2px solid #00C896;
    border-radius: 20px;
    background-color: #252525;
    padding: 10px;
}

.buttons-container {
    width: 100%;
    height: 70%;
    display: flex;
    align-items: center;
    justify-content: start;
    column-gap: 10px;
    margin-left: 10px;
}

.btn-mark {
    width: 100%;
    height: 60%;
    border: none;
    background-color: #252525;
    color: white;
    font-family: "Bebas Neue", sans-serif;
    font-size: 24px;
    border-radius: 20px;
    cursor: pointer;
    transition: ease-in-out all 0.5s;
}

.btn-mark:hover {
    transform: scale(1.02);
}

.lower-content {

}

.champ-select {

}

.credits {
    margin-bottom: 30px;
    color: #00C896;
    text-shadow: 1px 1px 5px #000;
    font-size: 18px;
}