@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #252525;
    color: #00C896;
    font-family: "Bebas Neue", sans-serif;
    align-items: center;
    justify-content: center;
    height: 500px;
    font-size: 2em;
    text-shadow: 1px 1px 5px #000;
}